.container {
  max-width: 1208px;
  margin: 0 auto;
  padding: 0 16px;
}
.swiper-wrapper {
  box-sizing: border-box;
}

.line {
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
  animation: dash 2s linear forwards;
}

.circle {
  opacity: 0;
  animation: fade 2s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  45% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

.title {
  @extend %rob-400;
  font-size: 44px;
  line-height: 120%;
  color: #18354e;
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(40, 40, 40, 0.3);
  margin-bottom: 30px;
}
